{% extends "base.html.twig" %}

    {% block title %}Exemple Maps{% endblock %}
{% block body %}
    <div class="container">
        <div class="options-box">
            <h1>Calcul du trajet</h1>
            {{ app.session.get('collecteur') }}
            <div>
                <input id="show_consignes" type="button" value="Montrer les consignes" />
                <input id="show_boutiques" type="button" value="Montrer les boutiques" />
                <input id="show_all" type="button" value="Montrer tout" />
                <input id="hide_all" type="button" value="Cacher tout" />
                <div id="ajouter_adresse">
                    <input id="nouvelle_adresse" type="text" placeholder="Entrez une nouvelle adresse ici" />
                    <input id="valider_adresse" type="button" value="Valider" />
                </div>
                <div>
                    <div>
                        <span class="text">Lieu de départ</span>
                        <select id="origine">
                            <option value="1">Lieu 1</option>
                            <option value="2">Lieu 2</option>
                        </select>
                    </div>
                    <div>
                        <span class="text">Durée max.</span>
                        <select id="duree_max">
                            <option value="10">10 min</option>
                            <option value="15">15 min</option>
                            <option value="30">30 min</option>
                        </select>
                        <select id="moyen_locomotion">
                            <option value="velo">à vélo</option>
                            <option value="voiture">en voiture</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div id="map"></div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        collecteur = {{ collecteur|json_encode }};
        consignes = {{ consignes }};
        boutiques = {{ boutiques|json_encode }};
    </script>
    <script src="{{ app.request.getBasePath() }}/js/map_loader.js"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAICexFtyn5myRq8c6pot701UuvybNOE0Y&v=3&callback=initMap">
    </script>
    <!-- Pour StreetView
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?libraries=geometry&key=AIzaSyAICexFtyn5myRq8c6pot701UuvybNOE0Y&v=3&callback=initMap">
    </script>
    -->
{% endblock %}