{% extends "base.html.twig" %}

    {% block title %}Optimisation de trajets{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
                <div class="col-sm-3" id="texte_gauche">
                    <a id="lien_admin" href="{{ url('trajets_admin') }}">admin</a>
                    <h1 class="text-center">Optimisation de trajet</h1>
                    <div id="resume_trajet" class="row">
                        <div class="col-sm-12"><span class="label">Départ : </span><span id="depart"></span></div>
                        <div class="col-sm-12"><span class="label">Etapes : </span>
                            <ul id="liste_etapes"></ul>
                        </div>
                        <div class="col-sm-12"><span class="label">Destination : </span><span id="arrivee"></span></div>
                    </div>
                    <div id="prepa_trajet">
                        <div class="row form-group">
                            <p class="col-md-4">Consignes :</p>
                            <input class="btn btn-success btn-sm col-md-3" id="show_consignes" type="button" value="Montrer" />
                            <input class="btn btn-warning btn-sm col-md-push-1 col-md-3" id="hide_consignes" type="button" value="Cacher" />
                        </div>
                        <div class="row form-group">
                            <p class="col-md-4">Boutiques :</p>
                            <input class="btn btn-success btn-sm col-md-3" id="show_boutiques" type="button" value="Montrer" />
                            <input class="btn btn-warning btn-sm col-md-push-1 col-md-3" id="hide_boutiques" type="button" value="Cacher" />
                        </div>
                        <div class="row form-group">
                            <input class="btn btn-success btn-sm col-sm-push-3 col-sm-4" id="show_all" type="button" value="Montrer tout" />
                            <input class="btn btn-warning btn-sm col-sm-push-4 col-sm-4" id="hide_all" type="button" value="Cacher tout" />
                        </div>
                        <hr />
                        <div>
                            <div>
                                <div id="adresse_origine" class="form-group">
                                    <label for="adresse_depart">Départ</label>
                                    <input class="form-control col-md-8" id="adresse_depart" type="text" placeholder="Ex. : Métro République, Rennes" />
                                </div>
                                <div id="afficher_lieux" class="form-group">
                                    <label for="duree_max">Afficher les lieux à moins de :</label><br />
                                    <select id="duree_max" class="form-control">
                                        <option value="10">10 min</option>
                                        <option value="15">15 min</option>
                                        <option value="30">30 min</option>
                                    </select>
                                    <select id="moyen_locomotion" class="form-control">
                                        <option value="BICYCLING">à vélo</option>
                                        <option value="DRIVING">en voiture</option>
                                    </select>
                                </div>
                                <hr />
                                <div id="editer_trajet">
                                    <div class="form-inline">
                                        <label for="etapes">Ajouter une étape : </label>
                                        <select id="etapes" class="form-control">
                                            <optgroup label="Boutiques">
                                                {% for boutique in boutiques %}
                                                    <option value="{{ boutique.id }}">{{ boutique.nom }}</option>
                                                {% endfor %}
                                            </optgroup>
                                            <optgroup label="Consignes">
                                                {% for consigne in consignes %}
                                                    <option value="{{ consigne.id }}">{{ consigne.nom }}</option>
                                                {% endfor %}
                                            </optgroup>
                                        </select>
                                        <input class="btn btn-success form-control" id="ajouter_etape" type="button" value="Ajouter" />
                                    </div>
                                    <div>
                                    <label for="destination">Destination :</label>
                                        <select id="destination" class="form-control">
                                            <optgroup id="optBoutiques" label="Boutiques">
                                                {% for boutique in boutiques  %}
                                                    <option value="{{ boutique.id }}">{{ boutique.nom }}</option>
                                                {% endfor %}
                                            </optgroup>
                                            <optgroup id="optConsignes" label="Consignes">
                                                {% for consigne in consignes  %}
                                                    <option value="{{ consigne.id }}">{{ consigne.nom }}</option>
                                                {% endfor %}
                                            </optgroup>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div id="valider_calcul" class="text-center">
                                <input class="btn btn-lg btn-success" id="calculer_trajet" type="button" value="Calculer" />
                            </div>
                        </div>
                    </div>
                    <div id="itineraire"></div>
                </div>
            <div class="col-sm-9 fixed">
                <div id="map"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        // Initialisation des variables globales collecteur, consignes et boutiques
        // utiles dans map_loader.js
        collecteur = {{ collecteur|json_encode|raw }};

        lieux = [];

        consignes = [];
        {% for consigne in consignes %}
        consignes.push({{ consigne|json_encode|raw }});
        lieux.push({{ consigne|json_encode|raw }});
        {% endfor %}

        boutiques = [];
        {% for boutique in boutiques %}
        boutiques.push({{ boutique|json_encode|raw }});
        lieux.push({{ boutique|json_encode|raw }});
        {% endfor %}

    </script>
    <script src="{{ app.request.getBasePath() }}/js/map_loader.js"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAICexFtyn5myRq8c6pot701UuvybNOE0Y&v=3&callback=initMap">
    </script>
    <!-- Pour StreetView
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?libraries=geometry&key=AIzaSyAICexFtyn5myRq8c6pot701UuvybNOE0Y&v=3&callback=initMap">
    </script>
    -->
{% endblock %}